@page "/Upload"

@using BlazorInputFile
@using System.IO
@using CsvHelper
@using System.Globalization
@using System.Text

@inject IQuestionService QuestionService

<div class="container page-centered">

<AuthorizeView Roles="Admin">
    <Authorized> 
         <div class="row">
            <div class="col">
                <h1>Questions editor</h1>
            </div>
         </div>

        <div class="drag-drop-zone">
            <InputFile OnChange="ViewFile" />
            @status
        </div>

        @if (fileName != null)
        {
            <div class="row">
                <div class="col">
                    Il file @fileName è stato caricato con successo <br />
                    Sono state caricate @records.Count domande
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Domanda</th>
                            <th scope="col">Risposta 1</th>
                            <th scope="col">Risposta 2</th>
                            <th scope="col">Risposta 3</th>
                            <th scope="col">Soluzione</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var f in records)
                        {
                            <tr>
                                <th scope="row">@f.QuestionID</th>
                                <td> @f.QuestionText</td>
                                <td>@f.Answer1</td>
                                <td>@f.Answer2</td>
                                <td>@f.Answer3</td>
                                <td>@f.Solution</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

</Authorized>
   <NotAuthorized>
      <div class="row">
            <div class="col rounded-borders">
                Questi contenuti sono disponibili solo per gli amministratori del quiz 
            </div>
        </div>
   </NotAuthorized>
</AuthorizeView>

</div>
@code {
    const string DefaultStatus = "Drop a text file here to view it, or click to choose a file";
    const int MaxFileSize = 5 * 1024 * 1024; // 5MB
    string status = DefaultStatus;

    string fileName;

    bool updated = false;

    List<Question> records = new List<Question>();

    @* public class Foo {
        public string QuestionID { get; set; }
        public string QuestionText { get; set; }
        public string Answer1 { get; set; }
        public string Answer2 { get; set; }
        public string Answer3 { get; set; }
        public string Solution { get; set; }
    } *@

    async Task ViewFile(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file == null)
        {
            return;
        }
        else if (file.Size > MaxFileSize)
        {
            status = $"That's too big. Max size: {MaxFileSize} bytes.";
        }
        else
        {
            status = "Loading...";

            fileName = file.Name;

            using (var stream = new MemoryStream())
            {
                await file.Data.CopyToAsync(stream);
                stream.Seek(0, SeekOrigin.Begin);
                var reader = new System.IO.StreamReader(stream, Encoding.UTF7);
                using (var csv = new CsvReader(reader, CultureInfo.CurrentUICulture))
                {
                    csv.Read();
                    csv.ReadHeader();
                    while (csv.Read())
                    {
                        var record = new Question
                        {
                            QuestionID = Guid.NewGuid(),
                            QuestionText = csv.GetField("QuestionText"),
                            Answer1 = csv.GetField("Answer1"),
                            Answer2 = csv.GetField("Answer2"),
                            Answer3 = csv.GetField("Answer3"),
                            Solution = csv.GetField("Solution")
                        };
                        records.Add(record);
                    }
                    //records = csv.GetRecords<Question>().ToList();
                    updated = await QuestionService.AddQuestions(records);

                    status = updated ? "Succeded" : "Failed";
                }
            }
        }
    }
}